* {
  border: red solid 1px;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
body {
  display: flex;
  flex-direction: row;
  height: 900px;
}
h1{
  font-size: 75px;
  margin: 0px;
}
.game-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  background-color: #A849B6;


}

.box {
  height: 200px;
  width: 200px;
  margin: none;
}
.hidden {
  display: none!important;
}
.choice {
  height: 70px;

}
.image-section {
  display:flex;
  flex-direction: row;
  height: 100px;
  width:500px;
}
.human-section, .computer-section {
  width: 20vw;
  background-color: #DF79EF;
}
